/* general styles */

/* header nav */
.header-nav{
  height: 100px;
  background-color: #6495ad;
}
.ico-nav,
.list-nav{
  width: 100px;
  height: 20px;
  background-color: black;
  margin-top: 50px;
}
.list-nav{
  margin-left: 70%;
}
/* header start */
.header-start{
  height: 680px;
  background-color: #1abc9c;
}
.start-bootstrap{
  width: 300px;
  height: 500px;
  background-color: orange;
  margin: auto;
}
/* main top */
.main-top{
  height: 850px;
  background-color: #ffffff;
}
.title{
  width: 330px;
  height: 240px;
  background-color: green;
  margin: auto;
}
.box{
  width: 330px;
  height: 240px;
}
.box1{
  background-color: #ba4c63;
}
.box2{
  background-color: #1fa4b6;
}
.box3{
  background-color: #130f0f;
}
.box4{
  background-color: #1d83c1;
}
.box5{
  background-color: #1037b5;
}
.box6{
  background-color: #ccb2a3;
}

/* main center */
.main-center{
  height: 610px;
  background-color: #1abc9c;
}
.title-main-center{
  background-color: red;
  margin: auto;
}
.text-left,
.text-right{
  background-color: purple;
}
.text-left{
  margin-left: auto;
}
.button{
  width: 100px;
  height: 70px;
  background-color: yellow;
  margin: auto;
}
/* main bottom */
.main-bottom{
  height: 600px;
  background-color: #ffffff;
}
.title-main-bottom{
  background: blue;
  margin: auto;
}
.list-main-bottom{
  height: 200px;
  background-color: pink;
}
.btn-main-bottom{
  margin: 0 0;
}
/* footer */
/* info footer */
.info-footer{
  height: 300px;
  background-color: #2c3e50;
}
.location{
  background-color: lightblue;
}
.web{
  background-color: lightgrey;
}
.freelancer{
  background-color: lightgreen;
}
/* copyright */
.copyright{
  height: 70px;
  background-color: #1a252f;
}
.text-copyright{
  width: 200px;
  height: 30px;
  background-color: white;
  margin: auto;
}

/* media query */
@media screen and (max-width: 768px){
  .ico-nav,
  .list-nav{
      margin: 10px auto;
  }
  .start-bootstrap{
    margin: 30px auto;
  }
  .media-box{
    margin: 0 auto;
  }
}
